PACKING_USER=rpmbuilder

PLATFORM_INSTALL_DIR=/home/$PACKING_USER/build_infra/platform-install-packages
RPMBUILD_DIR=/home/$PACKING_USER/rpmbuild
SPEC_FILE_DIR=/home/$PACKING_USER/build_infra/platform-install-packages/RPM/SPECS
PACKAGING_SCRIPTS_DIR=/home/$PACKING_USER/build_infra/platform-install-packages/build
SPECIFIC_BUILD_RPM_LOCATION=/home/$PACKING_USER/rpmbuild/RPMS/noarch
RPM_STORAGE=/tmp/temp_location
PLATFORM_INSTALL_DIR_BUILD=$PLATFORM_INSTALL_DIR/build

TEMP_CLONE_DIR="/tmp/temp_platform_install_clone"
GIT_COMMAND=`which git`
GIT_REPO='https://github.com/kaltura/platform-install-packages.git'
CLONED_RPMMACROS_FILE="$TEMP_CLONE_DIR/RPM/.rpmmacros"
RPMMACROS_TEMPLATE="rpmmacros.template"
TEMP_RPMMACROS_FILE="./rpmmacros.altered"
USER_RPMMACRO_FILE=/home/$PACKING_USER/.rpmmacros
DATE_STR=`date +"%m-%d-%y"`
LOG_DIR='./packing_logs'
LOG_FILE_NAME="packing_log-"$DATE_STR'--'`date +%H-%M-%S`".log"
CONFIG_FILE="packer.config"
RPMBUILD=`which rpmbuild`

# Spec file assignment


